@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
* {
    font-family: "EB Garamond", serif;
}
/* some custom styles */
.banner-img {
    background-image: url(../images/Rectangle\ 6.png);
    height: 500px !important;
}

.carousel-banner-img {
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    background-size: cover;
    border-radius: 1rem;
    overflow: hidden;
}

.banner-img-1 {
    background-image: url(../images/Rectangle\ 6.png);
}

.banner-img-2 {
    background-image: url(../images/Rectangle\ 6.png);
}

.banner-img-3 {
    background-image: url(../images/Rectangle\ 6.png);
}

@media screen and (max-width: 576px) {
    .banner-img {
        width: 100%;
    }
    .bonus-section {
        flex-direction: column;
        align-items: center;
    }
}
